@use 'vars';

.prompt {
  display: flex;
  gap: 0 4px;
  position: fixed;
  top: 0px;
  left: 0px;
  font-family: "Monaco", "Consolas", monospace;
  font-size: 14px;
  background: vars.$solid-black;
  padding: 8px 12px;
  border-radius: 0 0 4px 0;

  &-user {
    color: vars.$bright-green;
  }

  &-at {
    color: vars.$fg;
  }

  &-host {
    color: vars.$bright-purple;
  }

  &-cursor {
    display: inline-block;
    width: 8px;
    height: 15px;
    background-color: vars.$bright-aqua;
    margin-left: 5px;
    vertical-align: middle;
    animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}