@use '../vars' as *;

.name-wrapper {
  color: $fg;

  &-name,
  &-occupation {
    padding-left: 10px;
    padding-right: 10px;
  }

  &-name {
    font-size: 32px;
    margin-bottom: 15px;

    @include mobile {
      font-size: 20px;
    }
  }

  &-occupation {
    font-size: 24px;

    @include mobile {
      font-size: 16px;
    }
  }
}