.name,
.occupation {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.nameEmoji {
  padding-bottom: 2px;
  font-size: 2rem;
}

.occupationEmoji {
  margin-top: 2px;
  font-size: 2rem;
}